<div class="block-product-gallery-wrap">
  <section class="block-product-gallery">
    <div class="block-product-gallery-inner">
      <h2 class="block-product-gallery__header">Лучшие предложения в Киеве</h2>
      
      <div class="product-gallery__items">
        <div class="product">
          
          <div class="dropdown-gallery">
            <a  class="dropdown-gallery-btn" href="#"></a>
            <div class="dropdown-gallery__content">
              <div class="dropdown-gallery__triangle"></div>
              <div class="dropdown-gallery__list">
                <a class="dropdown-gallery__item" href="#">Добавить</a>
                <a class="dropdown-gallery__item" href="#">Посмотреть</a>
                <a class="dropdown-gallery__item--red" href="#">Удалить</a>
              </div>
            </div>
          </div>
          
          <img class="product__image" src="img/product.jpg" alt="Apartment photo">
          <p class="product__price">7 800 грн</p>
          <p class="product__descr">2 комн.  •  30 кв.м.</p>
          <p class="product__allocation--red">Политехнический институт</p>
        </div>

         <div class="product">
           <div class="dropdown-gallery">
            <a  class="dropdown-gallery-btn" href="#"></a>
            <div class="dropdown-gallery__content">
              <div class="dropdown-gallery__triangle"></div>
              <div class="dropdown-gallery__list">
                <a class="dropdown-gallery__item" href="#">Добавить</a>
                <a class="dropdown-gallery__item" href="#">Посмотреть</a>
                <a class="dropdown-gallery__item--red" href="#">Удалить</a>
              </div>
            </div>
            </div>
          <img class="product__image" src="img/product.jpg" alt="Apartment photo">
          <p class="product__price">10 200 грн</p>
          <p class="product__descr">1 комн.  •  30 кв.м.</p>
          <p class="product__allocation--red">Политехнический институт</p>
        </div>

        <div class="product">
           <div class="dropdown-gallery">
            <a  class="dropdown-gallery-btn" href="#"></a>
            <div class="dropdown-gallery__content">
              <div class="dropdown-gallery__triangle"></div>
              <div class="dropdown-gallery__list">
                <a class="dropdown-gallery__item" href="#">Добавить</a>
                <a class="dropdown-gallery__item" href="#">Посмотреть</a>
                <a class="dropdown-gallery__item--red" href="#">Удалить</a>
              </div>
            </div>
          </div>   
          <img class="product__image" src="img/product.jpg" alt="Apartment photo">
          <p class="product__price">6 900 грн</p>
          <p class="product__descr">2 комн.  •  30 кв.м.</p>
          <p class="product__allocation--red">Политехнический институт</p>
        </div>

         <div class="product">
           <div class="dropdown-gallery">
            <a  class="dropdown-gallery-btn" href="#"></a>
            <div class="dropdown-gallery__content">
              <div class="dropdown-gallery__triangle"></div>
              <div class="dropdown-gallery__list">
                <a class="dropdown-gallery__item" href="#">Добавить</a>
                <a class="dropdown-gallery__item" href="#">Посмотреть</a>
                <a class="dropdown-gallery__item--red" href="#">Удалить</a>
              </div>
            </div>
          </div>
          <img class="product__image" src="img/product.jpg" alt="Apartment photo">
          <p class="product__price">9 000 грн</p>
          <p class="product__descr">2 комн.  •  30 кв.м.</p>
          <p class="product__allocation--red">Политехнический институт</p>
        </div>
      </div>
      
    </div>
    <div class="gallery-submit-wrap">
      <a class="gallery-submit" href="#">Смотреть лучшие ценовые предложения</a>
    </div>
  </section>
</div>

<div class="block-product-gallery-wrap">
  
  <section class="block-product-gallery">
    <div class="block-product-gallery-inner">
      <h2 class="block-product-gallery__header">Последние объявления в Киеве</h2>
      
      <div class="product-gallery__search">
        <ul class="metro-search__list">
          <li class="metro-search__item"><a href="#">Квартиры</a></li>
          <li class="metro-search__item"><a href="#">Дома</a></li>
          <li class="metro-search__item"><a href="#">Офисы</a></li>
        </ul>
      </div>
      
      <div class="product-gallery__items">
        <div class="product">
           <div class="dropdown-gallery">
            <a  class="dropdown-gallery-btn" href="#"></a>
            <div class="dropdown-gallery__content">
              <div class="dropdown-gallery__triangle"></div>
              <div class="dropdown-gallery__list">
                <a class="dropdown-gallery__item" href="#">Добавить</a>
                <a class="dropdown-gallery__item" href="#">Посмотреть</a>
                <a class="dropdown-gallery__item--red" href="#">Удалить</a>
              </div>
            </div>
          </div>
          <img class="product__image" src="img/img1.jpg" alt="Apartment photo">
          <p class="product__price">11 800 грн</p>
          <p class="product__descr">2 комн.  •  48 кв.м.</p>
          <p class="product__allocation--red">Политехнический институт</p>
        </div>

         <div class="product">
           <div class="dropdown-gallery">
            <a  class="dropdown-gallery-btn" href="#"></a>
            <div class="dropdown-gallery__content">
              <div class="dropdown-gallery__triangle"></div>
              <div class="dropdown-gallery__list">
                <a class="dropdown-gallery__item" href="#">Добавить</a>
                <a class="dropdown-gallery__item" href="#">Посмотреть</a>
                <a class="dropdown-gallery__item--red" href="#">Удалить</a>
              </div>
            </div>
          </div>
          <img class="product__image" src="img/img2.jpg" alt="Apartment photo">
          <p class="product__price">15 000 грн</p>
          <p class="product__descr">3 комн.  •  100 кв.м.</p>
          <p class="product__allocation--red">Шулявка</p>
        </div>

         <div class="product">
           <div class="dropdown-gallery">
            <a  class="dropdown-gallery-btn" href="#"></a>
            <div class="dropdown-gallery__content">
              <div class="dropdown-gallery__triangle"></div>
              <div class="dropdown-gallery__list">
                <a class="dropdown-gallery__item" href="#">Добавить</a>
                <a class="dropdown-gallery__item" href="#">Посмотреть</a>
                <a class="dropdown-gallery__item--red" href="#">Удалить</a>
              </div>
            </div>
          </div>
          <img class="product__image" src="img/img3.jpg" alt="Apartment photo">
          <p class="product__price">11 800 грн</p>
          <p class="product__descr">1 комн.  •  30 кв.м.</p>
          <p class="product__allocation--blue">Контрактовая площадь</p>
        </div>

         <div class="product">
           <div class="dropdown-gallery">
            <a  class="dropdown-gallery-btn" href="#"></a>
            <div class="dropdown-gallery__content">
              <div class="dropdown-gallery__triangle"></div>
              <div class="dropdown-gallery__list">
                <a class="dropdown-gallery__item" href="#">Добавить</a>
                <a class="dropdown-gallery__item" href="#">Посмотреть</a>
                <a class="dropdown-gallery__item--red" href="#">Удалить</a>
              </div>
            </div>
          </div>
          <img class="product__image" src="img/product.jpg" alt="Apartment photo">
          <p class="product__price">7 800 грн</p>
          <p class="product__descr">2 комн.  •  30 кв.м.</p>
          <p class="product__allocation--red">Политехнический институт</p>
        </div>
      </div>
      
    </div>
    <div class="gallery-submit-wrap">
      <a class="gallery-submit" href="#">Смотреть самые свежие предложения</a>
    </div>
  </section>
  
</div>