<div class="property-search-wrap">
  <section class="property-search">
    <h1 class="property-search_header">Поиск недвижимости в Украине</h1>

    <form>
      <div class="select-menu">
        <h3 class="select-menu__header">Выберите город</h3>
        <select class="select-menu__list">
          <option class="select-menu__item" value="Киев" selected>Киев</option>
          <option class="select-menu__item" value="Одесса">Одесса</option>
          <option class="select-menu__item" value="Львов" selected>Львов</option>
          <option class="select-menu__item" value="Чернигов">Чернигов</option>
        </select>
      </div>

      <div >
        <h3>Кол-во комнат</h3>
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li class="disabled"><a href="#">4</a></li>
          <li><a href="#">5+</a></li>
        </ul>
      </div>



      <div>
        <input type="submit" value="Перейти к поиску">
      </div>
    </form>
  </section>
</div>