<div class="property-search-wrap">
  <section class="property-search">
    <h1 class="property-search__header">Поиск недвижимости в Украине</h1>

    <form class="property-search-form">
      
      <div class="property-search-form__item">  
        <div class="select-menu">
          <h3 class="select-menu__header">Выберите город</h3>
          <select class="" id="select-list">
            <option class="" value="Киев" selected>Киев</option>
            <option class="" value="Одесса">Одесса</option>
            <option class="" value="Львов">Львов</option>
            <option class="" value="Чернигов">Чернигов</option>
          </select>
        </div>
      </div>
      
      <div class="property-search-form__item">
        <h3 class="select-menu__header">Кол-во комнат</h3>
        
        <div class="select-menu__rating-list">
          <label>
            <input type="checkbox" name="room1">
            <span class="select-menu__item">1</span>
          </label>
          
          <label>
            <input type="checkbox" name="room2">
            <span class="select-menu__item">2</span>
          </label>
          
          <label>
            <input type="checkbox" name="room3">
            <span class="select-menu__item">3</span>
          </label>
          
          <label>
            <input type="checkbox" name="room4">
            <span class="select-menu__item">4</span>
          </label>
          
          <label>
            <input type="checkbox" name="room5">
            <span class="select-menu__item">5+</span>
          </label>
        </div>
      </div>
      
      <div class="property-search-form__item">
        <input class="property-search__submit" type="submit" value="Перейти к поиску">
      </div>
      
    </form>
  </section>
</div>

<div class="metro-search-wrap">
  <section class="metro-search">
    <div class="metro-search-inner">
      <h2 class="metro-search__header">Недвижимость возле метро</h2>
      
      <ul class="search__list">
        <li class="search__item"><a href="#">Квартиры</a></li>
        <li class="search__item"><a href="#">Дома</a></li>
        <li class="search__item"><a href="#">Офисы</a></li>
      </ul>
      
      <div class="dropdowm-search-wrap">
        <select class="" id="select-list-metro-station">
          <option class="" value="Политехнический институт" selected>Политехнический институт</option>
          <option class="" value="Вокзальная">Вокзальная</option>
          <option class="" value="Университет">Университет</option>
          <option class="" value="Театральная">Театральная</option>
        </select>
      </div>
      
      <div class="search-submit-wrap">
        <button class="search-submit">Показать результаты поиска</button>
      </div>
    </div>
  </section>
</div>
