<section class="social-block blog">
    <h4 class="social-block__header">
        Блог Metrovka
    </h4>
    <p class="social-block__subheader">
        Хитрости, приемы, советы, фото и видео – все о том как продать, <br>  купить, сдать в аренду или арендовать недвижимость.
    </p>
    <div class="blog-wrapper">
        <div class="blog-item">
            <img class="blog-item__img" src="img/blog1.png" alt="">
            <p class="blog-item__theme blog-item__theme--purple">Лайфхак</p>
            <h6 class="blog-item__title ">Киевляне могут оплатить коммуналку через Facebook…</h6>
            <p class="blog-item__author">Татьяна Малыняк  •  5 мин чтения</p>
        </div>
        <div class="blog-item">
            <img class="blog-item__img" src="img/blog2.png" alt="">
            <p class="blog-item__theme blog-item__theme--green">Совет Metrovka</p>
            <h6 class="blog-item__title ">ТОП-5 самых дешевых квартир Киева</h6>
            <p class="blog-item__author">Татьяна Малыняк  •  4 мин чтения</p>
        </div>
        <div class="blog-item">
            <img class="blog-item__img" src="img/blog3.png" alt="">
            <p class="blog-item__theme blog-item__theme--blue">Технологии</p>
            <h6 class="blog-item__title ">Смарт квартиры: цены, предложения и законность</h6>
            <p class="blog-item__author">Татьяна Малыняк  •  2 мин чтения</p>
        </div>
    </div>
    <div class="gallery-submit-wrap blog-link">
        <a class="gallery-submit" href="#">Перейти на страницу блога</a>
    </div>
</section>
