<footer>
    <section class="footer">
        <div class="footer-item">
            <p class="footer-item__title">Metrovka</p>
            <ul class="footer-item__list">
                <li><a href="">О компании</a></li>
                <li><a href="">Пресса о нас</a></li>
                <li><a href="">Пользовательское соглашение</a></li>
                <li><a href="">Карта сайта</a></li>
                <li><a href="">Помощь</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <p class="footer-item__title">Партнерство</p>
            <ul class="footer-item__list">
                <li><a href="">Как разместить обьявление</a></li>
                <li><a href="">Инструменты продвижения</a></li>
                <li><a href="">Правила заполнения объявлений</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <p class="footer-item__title">Узнайте больше</p>
            <ul class="footer-item__list">
                <li><a href="">Бонусная программа Bonus+</a></li>
                <li><a href="">Telegram Metrovka Bot</a></li>
                <li><a href="">Как работает поиск</a></li>
                <li><a href="">Как пользоваться избранным</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <p class="footer-item__title">Контакты</p>
            <ul class="footer-item__list">
                <li class="social">
                    <a target="_blank" href="https://www.facebook.com/">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="https://vk.com/">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item__list--sm-gutter">ул. Жилянская, 37</li>
                <li class="footer-item__list--sm-gutter footer-item__list--small">Киев, 01033</li>
                <li><a href="mailto:info@metrovka.ua" >info@metrovka.ua</a></li>
            </ul>
            <button class="footer-item__btn">Оставить заявку</button>
        </div>
    </section>

    <a class="logo-footer" href=""><img src="img/logo.png" alt="logo"></a>
    
</footer>