<section class="listing-top-wrapper">
    <div class="listing-top">
        <div class="listing-top__breadcrumbs">
            <p>
                <a href="#">Долгосрочная аренда</a>
                <span> /</span>
                <a href="#">Квартиры</a>
                <span> /</span>
                <a href="#">Киев</a>
            </p>
        </div>
        <div class="listing-top__header">
            <h1>Долгосрочная аренда квартир в Киеве</h1>
        </div>
        <div class="listing-top__filters filters">
            <div class="filters__amount">
                3 варианта размещения
            </div>
            <div class="filters__types filters-type">
                <div class="filters-type__sort filter-dropdown">
                    <p>Сортировать <i class="fa fa-caret-down" aria-hidden="true"></i></p>
                    <div class="filter-dropdown__content dropdown-content">
                        <p class="dropdown-content__item">Популярные</p>
                        <p class="dropdown-content__item">Новинки</p>
                        <p class="dropdown-content__item">Акционные</p>
                    </div>
                </div>
                <div class="filters-type__value filter-dropdown">
                    <p>Валюта <i class="fa fa-caret-down" aria-hidden="true"></i></p>
                    <div class="filter-dropdown__content">
                        <p class="dropdown-content__item">Гривна</p>
                        <p class="dropdown-content__item">Доллар</p>
                        <p class="dropdown-content__item">Евро</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="listing-wrapper">
    <div class="listing-wrapper__content">
        <div class="listing-item">
            <div class="listing-item__img">
                <img src="img/room1.png" alt="">
            </div>
            <div class="listing-item__wrapper">
                <div id="listings-carousel1" class="listings-carousel">
                    <div class="inner">
                        <div class="slide active">
                            <div class="listing-item__content ">
                                <div class="listing-item__header listing-info">
                                    <a href="#" class="listing-info__title">2 комн., Дарницкий р-н, Пчелки 2б</a>
                                    <p class="listing-info__location">
                                        <i class="fa fa-circle listing-info__location--green" aria-hidden="true"></i>
                                        <span class="listing-info__subway">Позняки</span>
                                        <span class="listing-info__time">30 мин пешком</span>
                                    </p>
                                    <div class="listing-info__features listing-features">
                                        <p class="listing-features__title">Особенности</p>
                                        <p class="listing-features__dscr">120 кв. м. •  этаж 1 из 5</p>
                                    </div>
                                    <div class="listing-info__dscr">
                                        <p>Комунальные включены, без старой мебели, новый дом, дизайнерский ремонт, тихий район, удобная транспортная развязка, шикарный вид на Днепр.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-item__price price-info">
                                <div class="price-info__wrapper price-wrapper">
                                    <p class="price-wrapper__title">11 600 грн</p>
                                    <p class="price-wrapper__subtitle">460$ <span> курс</span></p>
                                </div>
                                <div class="price-info__buttons buttons-wrapper">
                                    <div>
                                        <button class="btn-info btn-info--red">
                                            Высокая цена <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="cta-buttons">
                                        <button class="btn-cta btn-cta--call">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn-cta btn-cta--social">
                                            <img src="img/Facebook_Messenger.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="listing-item__content ">
                                <div class="listing-item__header listing-info">
                                    <a href="#" class="listing-info__title">2 комн., Оболонский р-н, Полярная 20</a>
                                    <p class="listing-info__location">
                                        <i class="fa fa-circle listing-info__location--blue" aria-hidden="true"></i>
                                        <span class="listing-info__subway">Героев Днепра</span>
                                        <span class="listing-info__time">10 мин пешком</span>
                                    </p>
                                    <div class="listing-info__features listing-features">
                                        <p class="listing-features__title">Особенности</p>
                                        <p class="listing-features__dscr">78 кв. м. • этаж 2 из 5 </p>
                                    </div>
                                    <div class="listing-info__dscr">
                                        <p>Без комунальных, евроремонт, хозяева в Польше, 15 мин. до озера, кофеварка, уборщица.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-item__price price-info">
                                <div class="price-info__wrapper price-wrapper">
                                    <p class="price-wrapper__title">10 500 грн</p>
                                    <p class="price-wrapper__subtitle">420$ <span> курс</span></p>
                                </div>
                                <div class="price-info__buttons buttons-wrapper">
                                    <div>
                                        <button class="btn-info btn-info--green">
                                            Хорошая цена <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="cta-buttons">
                                        <button class="btn-cta btn-cta--call">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn-cta btn-cta--social">
                                            <img src="img/Facebook_Messenger.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="listing-nav">
            <!--<div class="listing-nav__slider">-->
                <!--<p>-->
                    <!--<i class="fa fa-circle listing-nav__slider&#45;&#45;active" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-circle" aria-hidden="true"></i>-->
                <!--</p>-->
            <!--</div>-->
            <div class="listing-nav__pagination">
                <a href="#">
                    <p>След. раздел <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                    <p>Инфраструктура</p>
                </a>
            </div>
        </div>
        <div class="listing-item">
            <div class="listing-item__img">
                <img src="img/room2.png" alt="">
            </div>


            <div class="listing-item__wrapper">
                <div id="listings-carousel2" class="listings-carousel">
                    <div class="inner">
                        <div class="slide active">
                            <div class="listing-item__content ">
                                <div class="listing-item__header listing-info">
                                    <a href="#" class="listing-info__title">2 комн., Дарницкий р-н, Пчелки 2б</a>
                                    <p class="listing-info__location">
                                        <i class="fa fa-circle listing-info__location--green" aria-hidden="true"></i>
                                        <span class="listing-info__subway">Позняки</span>
                                        <span class="listing-info__time">30 мин пешком</span>
                                    </p>
                                    <div class="listing-info__features listing-features">
                                        <p class="listing-features__title">Особенности</p>
                                        <p class="listing-features__dscr">120 кв. м. •  этаж 1 из 5</p>
                                    </div>
                                    <div class="listing-info__dscr">
                                        <p>Комунальные включены, без старой мебели, новый дом, дизайнерский ремонт, тихий район, удобная транспортная развязка, шикарный вид на Днепр.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-item__price price-info">
                                <div class="price-info__wrapper price-wrapper">
                                    <p class="price-wrapper__title">11 600 грн</p>
                                    <p class="price-wrapper__subtitle">460$ <span> курс</span></p>
                                </div>
                                <div class="price-info__buttons buttons-wrapper">
                                    <div>
                                        <button class="btn-info btn-info--red">
                                            Высокая цена <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="cta-buttons">
                                        <button class="btn-cta btn-cta--call">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn-cta btn-cta--social">
                                            <img src="img/Facebook_Messenger.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="listing-item__content ">
                                <div class="listing-item__header listing-info">
                                    <a href="#" class="listing-info__title">2 комн., Оболонский р-н, Полярная 20</a>
                                    <p class="listing-info__location">
                                        <i class="fa fa-circle listing-info__location--blue" aria-hidden="true"></i>
                                        <span class="listing-info__subway">Героев Днепра</span>
                                        <span class="listing-info__time">10 мин пешком</span>
                                    </p>
                                    <div class="listing-info__features listing-features">
                                        <p class="listing-features__title">Особенности</p>
                                        <p class="listing-features__dscr">78 кв. м. • этаж 2 из 5 </p>
                                    </div>
                                    <div class="listing-info__dscr">
                                        <p>Без комунальных, евроремонт, хозяева в Польше, 15 мин. до озера, кофеварка, уборщица.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-item__price price-info">
                                <div class="price-info__wrapper price-wrapper">
                                    <p class="price-wrapper__title">10 500 грн</p>
                                    <p class="price-wrapper__subtitle">420$ <span> курс</span></p>
                                </div>
                                <div class="price-info__buttons buttons-wrapper">
                                    <div>
                                        <button class="btn-info btn-info--green">
                                            Хорошая цена <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="cta-buttons">
                                        <button class="btn-cta btn-cta--call">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn-cta btn-cta--social">
                                            <img src="img/Facebook_Messenger.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="listing-nav">
            <!--<div class="listing-nav__slider">-->
                <!--<p>-->
                    <!--<i class="fa fa-circle listing-nav__slider&#45;&#45;active" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-circle" aria-hidden="true"></i>-->
                <!--</p>-->
            <!--</div>-->
            <div class="listing-nav__pagination">
                <a href="#">
                    <p>След. раздел <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                    <p>Инфраструктура</p>
                </a>
            </div>
        </div>
        <div class="listing-item">
            <div class="listing-item__img">
                <img src="img/room3.png" alt="">
            </div>

            <div class="listing-item__wrapper">
                <div id="listings-carousel3" class="listings-carousel">
                    <div class="inner">
                        <div class="slide active">
                            <div class="listing-item__content ">
                                <div class="listing-item__header listing-info">
                                    <a href="#" class="listing-info__title">2 комн., Дарницкий р-н, Пчелки 2б</a>
                                    <p class="listing-info__location">
                                        <i class="fa fa-circle listing-info__location--green" aria-hidden="true"></i>
                                        <span class="listing-info__subway">Позняки</span>
                                        <span class="listing-info__time">30 мин пешком</span>
                                    </p>
                                    <div class="listing-info__features listing-features">
                                        <p class="listing-features__title">Особенности</p>
                                        <p class="listing-features__dscr">120 кв. м. •  этаж 1 из 5</p>
                                    </div>
                                    <div class="listing-info__dscr">
                                        <p>Комунальные включены, без старой мебели, новый дом, дизайнерский ремонт, тихий район, удобная транспортная развязка, шикарный вид на Днепр.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-item__price price-info">
                                <div class="price-info__wrapper price-wrapper">
                                    <p class="price-wrapper__title">11 600 грн</p>
                                    <p class="price-wrapper__subtitle">460$ <span> курс</span></p>
                                </div>
                                <div class="price-info__buttons buttons-wrapper">
                                    <div>
                                        <button class="btn-info btn-info--red">
                                            Высокая цена <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="cta-buttons">
                                        <button class="btn-cta btn-cta--call">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn-cta btn-cta--social">
                                            <img src="img/Facebook_Messenger.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="listing-item__content ">
                                <div class="listing-item__header listing-info">
                                    <a href="#" class="listing-info__title">2 комн., Оболонский р-н, Полярная 20</a>
                                    <p class="listing-info__location">
                                        <i class="fa fa-circle listing-info__location--blue" aria-hidden="true"></i>
                                        <span class="listing-info__subway">Героев Днепра</span>
                                        <span class="listing-info__time">10 мин пешком</span>
                                    </p>
                                    <div class="listing-info__features listing-features">
                                        <p class="listing-features__title">Особенности</p>
                                        <p class="listing-features__dscr">78 кв. м. • этаж 2 из 5 </p>
                                    </div>
                                    <div class="listing-info__dscr">
                                        <p>Без комунальных, евроремонт, хозяева в Польше, 15 мин. до озера, кофеварка, уборщица.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-item__price price-info">
                                <div class="price-info__wrapper price-wrapper">
                                    <p class="price-wrapper__title">10 500 грн</p>
                                    <p class="price-wrapper__subtitle">420$ <span> курс</span></p>
                                </div>
                                <div class="price-info__buttons buttons-wrapper">
                                    <div>
                                        <button class="btn-info btn-info--green">
                                            Хорошая цена <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="cta-buttons">
                                        <button class="btn-cta btn-cta--call">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn-cta btn-cta--social">
                                            <img src="img/Facebook_Messenger.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="listing-item__content ">-->
                <!--<div class="listing-item__header listing-info">-->
                    <!--<a href="#" class="listing-info__title">2 комн., Оболонский р-н, Полярная 20</a>-->
                    <!--<p class="listing-info__location">-->
                        <!--<i class="fa fa-circle listing-info__location&#45;&#45;blue" aria-hidden="true"></i>-->
                        <!--<span class="listing-info__subway">Героев Днепра</span>-->
                        <!--<span class="listing-info__time">10 мин пешком</span>-->
                    <!--</p>-->
                    <!--<div class="listing-info__features listing-features">-->
                        <!--<p class="listing-features__title">Особенности</p>-->
                        <!--<p class="listing-features__dscr">78 кв. м. • этаж 2 из 5 </p>-->
                    <!--</div>-->
                    <!--<div class="listing-info__dscr">-->
                        <!--<p>Без комунальных, евроремонт, хозяева в Польше, 15 мин. до озера, кофеварка, уборщица.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="listing-item__price price-info">-->
                <!--<div class="price-info__wrapper price-wrapper">-->
                    <!--<p class="price-wrapper__title">10 500 грн</p>-->
                    <!--<p class="price-wrapper__subtitle">420$ <span> курс</span></p>-->
                <!--</div>-->
                <!--<div class="price-info__buttons buttons-wrapper">-->
                    <!--<div>-->
                        <!--<button class="btn-info btn-info&#45;&#45;green">-->
                            <!--Хорошая цена <i class="fa fa-info-circle" aria-hidden="true"></i>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="cta-buttons">-->
                        <!--<button class="btn-cta btn-cta&#45;&#45;call">-->
                            <!--<i class="fa fa-phone" aria-hidden="true"></i>-->
                        <!--</button>-->
                        <!--<button class="btn-cta btn-cta&#45;&#45;social">-->
                            <!--<img src="img/Facebook_Messenger.png" alt="">-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="listing-nav">
            <!--<div class="listing-nav__slider">-->
                <!--<p>-->
                    <!--<i class="fa fa-circle listing-nav__slider&#45;&#45;active" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-circle" aria-hidden="true"></i>-->
                <!--</p>-->
            <!--</div>-->
            <div class="listing-nav__pagination">
                <a href="#">
                    <p>След. раздел <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                    <p>Инфраструктура</p>
                </a>
            </div>
        </div>
    </div>
    <div class="listing-wrapper__map">
        <div id="map" class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325515.69297743274!2d30.251819927584112!3d50.402135101465745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LI!5e0!3m2!1sru!2sua!4v1492118249622" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>

