<section class="social-block-wrapper">
    <div class="social-block">
        <h4 class="social-block__header">
            Общайтесь в Telegram
        </h4>
        <p class="social-block__subheader">
            Не отвлекайтесь больше на формальности. Получайте моментальные <br> уведомления о новых обьявлениях, общайтесь без ограничений.
        </p>
        <div class="tab-wrapper">
            <div class="tab-wrapper__item tab-wrapper__item--active">Поиск недвижимости</div>
            <div class="tab-wrapper__item">Общение с клиентами</div>
        </div>
        <div class="contact-wrapper">
            <div class="contact-wrapper__image-promo">
                <img src="img/phone.png" alt="">
            </div>
            <div class="contact-wrapper__description contact-description">
                <div class="contact-description__logo">
                    <span>
                        Telegram
                    </span>
                </div>
                <p class="contact-description__header">Metrovka Bot</p>
                <div class="contact-description__list">
                    <ul>
                        <li>1. Собирайте аналитику по объектам</li>
                        <li>2. Получайте подсказки по эффективному <br> продвижению объявлений</li>
                        <li>3. Общайтесь с клиентами через специальный <br> канал телекоммуникации</li>
                    </ul>
                </div>
                <button class="contact-description__btn">Присоединиться в Telegram</button>
            </div>
        </div>
        <div class="tab-circle">
            <div class="tab-circle__item tab-circle__item--active"></div>
            <div class="tab-circle__item"></div>
        </div>
    </div>
</section>
