@import '../../bower_components/normalize-css/reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@import 'partials/components/variables.scss';
@import 'partials/components/dropdown.scss';
@import 'partials/components/select.scss';
@import 'partials/page-navbar.scss';
@import 'partials/block-property-search.scss';
@import 'partials/block-product-gallery.scss';
@import 'partials/social-section.scss';
@import 'partials/coolCarousel.scss';
@import 'partials/blog-section.scss';
@import 'partials/footer.scss';
@import 'partials/listing.scss';

body {
  overflow-x: hidden;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: $text-color-dark;
  //background-color: $gray;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
a {
  color: #152935;
  text-decoration: none;
}