.dropdown-btn {
  cursor: pointer;
}
.dropdown__content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown__item {
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: $dark-blue;
}
.dropdown {
  display: block;
}