
/* Rectangle 2 */
$green: #30AE63;
$green-lighter: #50DB88;
$white: #FFFFFF;
$dark-blue: #152935;
$gray: #DFE3E6;
$gray-lighter: #8C9BA5;
$dark-gray: #5A6872;
$blue: #2573D8;

//** Background color for `<body>`.
$body-bg: #FFFFFF;
//** Global text color on `<body>`.
//$text-color:  $gray-dark;

$navbar-margin-bottom: 0px;

$text-size: 14px;
$text-color-dark: $dark-blue;
$text-color-white: $white;

//breakpoints
$screen-xxs: 375px;
$screen-sm:  480px;
$screen-md:  768px;
$screen-lg:  890px;
$screen-xl:  1280px;

.btn {
  max-width: 100%;
  height: 40px;
  border: 0;
  cursor: pointer;
}
