
/* Rectangle 2 */
$green: #30AE63;
$green-lighter: #50DB88;
$white: #FFFFFF;
$dark-blue: #152935;


//** Background color for `<body>`.
$body-bg: #FFFFFF;
//** Global text color on `<body>`.
//$text-color:  $gray-dark;

$navbar-margin-bottom: 0px;

$text-size: 14px;
$text-color-dark: $dark-blue;
$text-color-white: $white;




