.blog {
  margin-top: 80px;
}

.blog-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: $screen-lg) {
    flex-wrap: wrap;
  }
}

.blog-item {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  text-align: left;

  &__img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &__content {

    @media (max-width: $screen-sm) {
      padding: 0 20px;
    }
  }

  &__theme {
    margin-top: 25px;
    font-size: 11px;
    text-transform: uppercase;

  }

  &__title {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.4;
    min-height: 45px;

    @media (max-width: $screen-md) {
      min-height: 25px;
    }
  }

  &__author {
    margin-top: 20px;
    font-size: 12px;
    color: #8C9BA5;
  }

  &__theme--purple {
    color: #BA8FF7;
  }

  &__theme--blue {
    color: #2573D8;
  }

  &__theme--green {
    color: $green;
  }

  @media (max-width: $screen-lg) {
    width: 40%;
    max-width: 40%;
    border-bottom: 1px solid $gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: $screen-md) {
    width: 100%;
    max-width: 100%;
  }
}

.blog-link {
  margin-top: 40px;
}
